<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Film</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DodavanjeProjekcije</display-name>
    <servlet-name>DodavanjeProjekcije</servlet-name>
    <servlet-class>projekcije.servlets.DodavanjeProjekcije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeProjekcije</servlet-name>
    <url-pattern>/DodavanjeProjekcije</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeProjekcija</display-name>
    <servlet-name>DodavanjeProjekcija</servlet-name>
    <servlet-class>projekcije.servlets.DodavanjeProjekcije</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeProjekcija</servlet-name>
    <url-pattern>/DodavanjeProjekcija</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TabelerniPrikaz</display-name>
    <servlet-name>TabelerniPrikaz</servlet-name>
    <servlet-class>projekcije.servlets.TabelerniPrikaz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabelerniPrikaz</servlet-name>
    <url-pattern>/TabelerniPrikaz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>projekcije.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Baza</display-name>
    <servlet-name>Baza</servlet-name>
    <servlet-class>projekcije.servlets.Baza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Baza</servlet-name>
    <url-pattern>/Baza</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TabelarniPrikazBaza</display-name>
    <servlet-name>TabelarniPrikazBaza</servlet-name>
    <servlet-class>projekcije.servlets.TabelarniPrikazBaza</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TabelarniPrikazBaza</servlet-name>
    <url-pattern>/TabelarniPrikazBaza</url-pattern>
  </servlet-mapping>
</web-app>